.profile {
  margin: 30px 100px;
  background-color: white;
  overflow-y: scroll;
}
.profile img {
  margin: 50px;
  margin-bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 1px solid black
}
.profile p {
  color: black;
  text-align: left;
  margin: 2px 50px;
}
p.bold {
  font-weight: bold;
}
span.normal {
  font-weight: normal;
}
.tweets-container {
  margin-top: 20px;
}
ul li {
  margin: 10px;
}
.back {
  bottom: 50px;
  float: right;
  margin: 50px;
  color: #006dbf;
}